* {
    margin: 0;
    padding: 0;
}
body,
html {
    width: 100%;
    height: 100%;
    color:darkgray!important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.corpo{
    width: 100%;
    height: 90%;
    background:brown;
}
.rodape{
    background: #282828;
    position: fixed;
    width: 100%;
    height: 10%;
    bottom: 0;
}
.logospotfy{
    width:70%;
    margin-left:5%;
    margin-top:5%;
}
.inconsmenu{margin-left:0; width:15px; }

.navBar-item {
    font-size: 14px!important;
    line-height: 20px!important;
    letter-spacing: .015em!important;
    font-weight:700;
}

.listaHome ul li{
    margin-left:0%;
    margin-top:5%;
    width:100%;
    height:auto;
    font-family: Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    list-style-type: none;
}
.submenu ul li{list-style-type: none;height: 32px;}
.submenu h5{margin-bottom:10%;margin-left:11%;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
.listaHome, ul,a{ font-size:85%;display:block; background-color: black; color:darkgray; text-decoration:none; padding:5%; }


.addText{margin-bottom:-10px;padding-top:5px;font-size:90%;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
#barra ul li a:hover{background:#393939}


.add{width: 10%;margin: auto; background:#a19a9a; padding: 4px; float: left; margin-left: 20px;margin-right: 5px}
.imgadd{ width: 65%; margin: auto;}
div.add img{ width: 100%}

.clearFloat{clear: both; clear: left;clear: right}

.newPlaylist{margin-bottom: 15px}

.albunfoto{ box-shadow:0 0 5px black; margin-top:5%; width:130% }
.capa{margin-left: auto; margin-right: auto;width:30%}
.menu{ width: 14%; height:100%; background: black;float: left;}
.albuns{width: 50%; height: 100%; background:#171717;float: left;}
.musicas{width: 36%;  height: 100%; background:#171717;float: left; box-shadow:0 0 4px black;}
